$hover: #e8e8e8;
$bgColor: #fdfdfd;
body{
  font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  cursor: default;
  min-width: 450px;
  background-color: $bgColor;
}
p,
span,
label {
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style: none;
  padding-left: 0;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  outline: 0;
  text-decoration: none;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
  background-color: white;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(../../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
  url(../../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
  url(../../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
}
.system,
.files {
  padding: 20px;
  color: #000;
  overflow: hidden;
  header {
    font-size: 22px;
    padding: 5px 0;
    font-weight: 800;
    i {
      font-size: 25px;
      padding-right: 30px;
      position: relative;
      color: #4caf50;
      bottom: -4px;
    }
  }
  section {
    font-size: 14px;
    margin: 5px 0;
    line-height: 1.8;
    overflow: hidden;
  }
}
.status {
  width: 40px;
  overflow: hidden;
  float: right;
}
.system {
  max-width: 262px;
  padding: 20px 0 0 20px;
  float: left;
  .arrow-left,
  .arrow-right {
    float: right;
    margin: 0;
    padding: 8px 5px;
  }
  p {
    margin: 0 0 4px;
  }
  .cpu {
    text-align: center;
    display: block;
    width: 50%;
    float: left;
    margin: 10px 0;
  }
  .bar {
    overflow: hidden;
    margin: 10px 0 0 0;
    display: block;
    .progress {
      margin: 0;
      height: 20px;
      background-color: #f1f1f1;
    }
    span {
      line-height: 1.45;
      margin: 0;
      padding: 0;
      width: 70px;
    }
  }
}
.files {
  min-width: 510px;
  .disks-files{
    margin-bottom: 20px;
    table,
    thead,
    tbody {
      min-width: 470px;
      overflow: auto;
      display: block;
      width: 100%;
    }
    tbody {
      max-height: 720px;
      padding-right: 15px;
    }
    .tr-active {
      background-color: #b3e4ff !important;
    }
    .tr-inactive {
      background-color: $bgColor;
    }
    .list,
    .menu th {
      &:hover {
        background-color: #d7f1ff;
      }

    }
    tr {
      min-width: 470px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      input {
        border: 0;
        box-shadow: none;
        outline: 0;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        float: left;
        width: 100%;
        padding: 0;
      }
      td,
      th{
        overflow: hidden;
        padding-left: 10px;
        text-align: right;
        &:nth-child(1) {
          padding: 0 5px;
          width: 26px;
          img {
            width: 16px;
          }
        }
        &:nth-child(2) {
          width: 100%;
          max-width: 130px;
          text-overflow: ellipsis;
          padding-right: 15px;
          padding-left: 0;
          text-align: left;
        }
        &:nth-child(3) {
          width: 120px;
        }
        &:nth-child(4) {
          width: 150px;
        }
        &:nth-child(5) {
          width: 180px;
        }
      }
    }
  }
  .action {
    overflow: hidden;
    display: block;
    button {
      border-radius: 0;
      padding: 6px 15px;
      float: left;
    }
    form {
      padding: 6px 15px;
      float: right;
      display: flex;
      .form-group,
      #search {
        margin: 0;
        padding: 0 0 0 5px;
      }
      button {
        padding: 0 10px;
        margin: 0;
      }
    }
  }
  .breadcrumb {
    display: block;
    width: 100%;
    z-index: 1500;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: #FFF;
    margin-bottom: 0;
    float: left;
    padding: 0 0 0 25px;
    li {
      margin: 10px 0;
    }
    .message-show-hide {
      text-align: center;
      padding: 0;
      background-color: transparent;
      opacity: 1;
      position: relative;
    }
    .message-show-hide {
      bottom: -5px;
      transition: all linear 0.5s;
    }
    .message-show-hide.ng-hide {
      bottom: -25px;
      opacity: 0;
    }
  }
  .number {
    float: right;
    z-index: 1500;
    position: fixed;
    bottom: 0;
    right: 20px;
  }
}
.preview {
  border-left: 1px solid #eee;
  padding: 0 0 0 10px;
  label {
    padding: 5px 0;
    font-size: 14px;
  }
  img {
    overflow: hidden;
    max-width: 100%;
  }
  .preview-content {
    overflow: auto;
    color: #000000;
    white-space: pre;
    max-height: 450px;
    overflow-y: auto;
    padding-right: 10px;
    font-size: 12px;
    word-break: break-word;
    -webkit-user-select: text;
  }
  .preview-text {
    float: left;
    overflow: hidden;
    width: 100%;
    text-align: center;
    img {
      text-align: center;
      margin: 20px;
      width: 80px;
    }
  }
  .preview-info {
    font-size: 12px;
    .progress-striped {
      margin-bottom: 0;
    }
  }
}
.cssload-wrap {
  text-align: center;
  line-height: 195px;
}

.cssload-container {
  display: inline-block;
}

.cssload-dots {
  display: inline-block;
  position: relative;
}
.cssload-dots:not(:last-child) {
  margin-right: 9px;
}
.cssload-dots:before, .cssload-dots:after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
}
.cssload-dots:nth-child(1):before {
  transform: translateY(-200%);
    -webkit-transform: translateY(-200%);
  animation: cssload-animBefore 1.15s linear infinite;
    -webkit-animation: cssload-animBefore 1.15s linear infinite;
  animation-delay: -1.04s;
    -webkit-animation-delay: -1.04s;
  background-color: rgb(255,0,0);
}
.cssload-dots:nth-child(1):after {
  transform: translateY(200%);
    -webkit-transform: translateY(200%);
  animation: cssload-animAfter 1.15s linear infinite;
    -webkit-animation: cssload-animAfter 1.15s linear infinite;
  animation-delay: -1.04s;
    -webkit-animation-delay: -1.04s;
  background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(2):before {
  transform: translateY(-200%);
    -webkit-transform: translateY(-200%);
  animation: cssload-animBefore 1.15s linear infinite;
    -webkit-animation: cssload-animBefore 1.15s linear infinite;
  animation-delay: -2.07s;
    -webkit-animation-delay: -2.07s;
  background-color: rgb(255,0,0);
}
.cssload-dots:nth-child(2):after {
  transform: translateY(200%);
    -webkit-transform: translateY(200%);
  animation: cssload-animAfter 1.15s linear infinite;
    -webkit-animation: cssload-animAfter 1.15s linear infinite;
  animation-delay: -2.07s;
    -webkit-animation-delay: -2.07s;
  background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(3):before {
  transform: translateY(-200%);
    -webkit-transform: translateY(-200%);
  animation: cssload-animBefore 1.15s linear infinite;
    -webkit-animation: cssload-animBefore 1.15s linear infinite;
  animation-delay: -3.11s;
    -webkit-animation-delay: -3.11s;
  background-color: rgb(255,0,0);
}
.cssload-dots:nth-child(3):after {
  transform: translateY(200%);
    -webkit-transform: translateY(200%);
  animation: cssload-animAfter 1.15s linear infinite;
    -webkit-animation: cssload-animAfter 1.15s linear infinite;
  animation-delay: -3.11s;
    -webkit-animation-delay: -3.11s;
  background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(4):before {
  transform: translateY(-200%);
    -webkit-transform: translateY(-200%);
  animation: cssload-animBefore 1.15s linear infinite;
    -webkit-animation: cssload-animBefore 1.15s linear infinite;
  animation-delay: -4.14s;
    -webkit-animation-delay: -4.14s;
  background-color: rgb(255,0,0);
}
.cssload-dots:nth-child(4):after {
  transform: translateY(200%);
    -webkit-transform: translateY(200%);
  animation: cssload-animAfter 1.15s linear infinite;
    -webkit-animation: cssload-animAfter 1.15s linear infinite;
  animation-delay: -4.14s;
    -webkit-animation-delay: -4.14s;
  background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(5):before {
  transform: translateY(-200%);
    -webkit-transform: translateY(-200%);
  animation: cssload-animBefore 1.15s linear infinite;
    -webkit-animation: cssload-animBefore 1.15s linear infinite;
  animation-delay: -5.18s;
    -webkit-animation-delay: -5.18s;
  background-color: rgb(255,0,0);
}
.cssload-dots:nth-child(5):after {
  transform: translateY(200%);
    -webkit-transform: translateY(200%);
  animation: cssload-animAfter 1.15s linear infinite;
    -webkit-animation: cssload-animAfter 1.15s linear infinite;
  animation-delay: -5.18s;
    -webkit-animation-delay: -5.18s;
  background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(6):before {
  transform: translateY(-200%);
    -webkit-transform: translateY(-200%);
  animation: cssload-animBefore 1.15s linear infinite;
    -webkit-animation: cssload-animBefore 1.15s linear infinite;
  animation-delay: -6.21s;
    -webkit-animation-delay: -6.21s;
  background-color: rgb(255,0,0);
}
.cssload-dots:nth-child(6):after {
  transform: translateY(200%);
    -webkit-transform: translateY(200%);
  animation: cssload-animAfter 1.15s linear infinite;
    -webkit-animation: cssload-animAfter 1.15s linear infinite;
  animation-delay: -6.21s;
    -webkit-animation-delay: -6.21s;
  background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(7):before {
  transform: translateY(-200%);
    -webkit-transform: translateY(-200%);
  animation: cssload-animBefore 1.15s linear infinite;
    -webkit-animation: cssload-animBefore 1.15s linear infinite;
  animation-delay: -7.25s;
    -webkit-animation-delay: -7.25s;
  background-color: rgb(255,0,0);
}
.cssload-dots:nth-child(7):after {
  transform: translateY(200%);
    -webkit-transform: translateY(200%);
  animation: cssload-animAfter 1.15s linear infinite;
    -webkit-animation: cssload-animAfter 1.15s linear infinite;
  animation-delay: -7.25s;
    -webkit-animation-delay: -7.25s;
  background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(8):before {
  transform: translateY(-200%);
    -webkit-transform: translateY(-200%);
  animation: cssload-animBefore 1.15s linear infinite;
    -webkit-animation: cssload-animBefore 1.15s linear infinite;
  animation-delay: -8.28s;
    -webkit-animation-delay: -8.28s;
  background-color: rgb(255,0,0);
}
.cssload-dots:nth-child(8):after {
  transform: translateY(200%);
    -webkit-transform: translateY(200%);
  animation: cssload-animAfter 1.15s linear infinite;
    -webkit-animation: cssload-animAfter 1.15s linear infinite;
  animation-delay: -8.28s;
    -webkit-animation-delay: -8.28s;
  background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(9):before {
  transform: translateY(-200%);
    -webkit-transform: translateY(-200%);
  animation: cssload-animBefore 1.15s linear infinite;
    -webkit-animation: cssload-animBefore 1.15s linear infinite;
  animation-delay: -9.32s;
    -webkit-animation-delay: -9.32s;
  background-color: #F00;
}
.cssload-dots:nth-child(9):after {
  transform: translateY(200%);
    -webkit-transform: translateY(200%);
  animation: cssload-animAfter 1.15s linear infinite;
    -webkit-animation: cssload-animAfter 1.15s linear infinite;
  animation-delay: -9.32s;
    -webkit-animation-delay: -9.32s;
  background-color: #777;
}
.cssload-dots:nth-child(10):before {
  transform: translateY(-200%);
    -webkit-transform: translateY(-200%);
  animation: cssload-animBefore 1.15s linear infinite;
    -webkit-animation: cssload-animBefore 1.15s linear infinite;
  animation-delay: -10.35s;
    -webkit-animation-delay: -10.35s;
  background-color: #F00;
}
.cssload-dots:nth-child(10):after {
  transform: translateY(200%);
    -webkit-transform: translateY(200%);
  animation: cssload-animAfter 1.15s linear infinite;
    -webkit-animation: cssload-animAfter 1.15s linear infinite;
  animation-delay: -10.35s;
    -webkit-animation-delay: -10.35s;
  background-color: #777;
}




@keyframes cssload-animBefore {
  0% {
    transform: scale(1) translateY(-200%);
    z-index: 1;
  }
  25% {
    transform: scale(1.3) translateY(0);
    z-index: 1;
  }
  50% {
    transform: scale(1) translateY(200%);
    z-index: -1;
  }
  75% {
    transform: scale(0.7) translateY(0);
    z-index: -1;
  }
  100% {
    transform: scale(1) translateY(-200%);
    z-index: -1;
  }
}

@-webkit-keyframes cssload-animBefore {
  0% {
    -webkit-transform: scale(1) translateY(-200%);
    z-index: 1;
  }
  25% {
    -webkit-transform: scale(1.3) translateY(0);
    z-index: 1;
  }
  50% {
    -webkit-transform: scale(1) translateY(200%);
    z-index: -1;
  }
  75% {
    -webkit-transform: scale(0.7) translateY(0);
    z-index: -1;
  }
  100% {
    -webkit-transform: scale(1) translateY(-200%);
    z-index: -1;
  }
}

@keyframes cssload-animAfter {
  0% {
    transform: scale(1) translateY(200%);
    z-index: -1;
  }
  25% {
    transform: scale(0.7) translateY(0);
    z-index: -1;
  }
  50% {
    transform: scale(1) translateY(-200%);
    z-index: 1;
  }
  75% {
    transform: scale(1.3) translateY(0);
    z-index: 1;
  }
  100% {
    transform: scale(1) translateY(200%);
    z-index: 1;
  }
}

@-webkit-keyframes cssload-animAfter {
  0% {
    -webkit-transform: scale(1) translateY(200%);
    z-index: -1;
  }
  25% {
    -webkit-transform: scale(0.7) translateY(0);
    z-index: -1;
  }
  50% {
    -webkit-transform: scale(1) translateY(-200%);
    z-index: 1;
  }
  75% {
    -webkit-transform: scale(1.3) translateY(0);
    z-index: 1;
  }
  100% {
    -webkit-transform: scale(1) translateY(200%);
    z-index: 1;
  }
}
