body {
  font-family: Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,WenQuanYi Micro Hei,Microsoft Yahei,sans-serif;
  -webkit-user-select: none;
  cursor: default;
  min-width: 450px;
  background-color: white; }

p,
span,
label {
  padding: 0;
  margin: 0; }

ul,
li {
  list-style: none;
  padding-left: 0; }

::-webkit-scrollbar {
  height: 12px;
  width: 12px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5); }

.system,
.files {
  float: left;
  padding: 20px;
  color: #000;
  overflow: hidden; }
  .system header,
  .files header {
    font-size: 22px;
    padding: 5px 0;
    font-weight: 800; }
  .system section,
  .files section {
    font-size: 14px;
    margin: 5px 0;
    line-height: 1.8;
    overflow: hidden; }

.system .cpu {
  text-align: center;
  display: block;
  width: 50%;
  float: left;
  margin: 10px 0; }
  .system .cpu img {
    width: 90px;
    height: 90px;
    margin-bottom: 10px; }
    .system .cpu img .cpu-message {
      font-size: 12px; }

.system .bar {
  overflow: hidden;
  margin: 10px 0 0 0;
  display: block; }
  .system .bar .progress {
    margin: 0;
    height: 20px;
    background-color: #f1f1f1; }
  .system .bar span {
    line-height: 1.45;
    margin: 0;
    padding: 0;
    width: 70px; }

.files .disks-files img {
  height: 15px;
  margin: 5px 10px 5px 0;
  float: left; }

.files .disks-files .disk:hover, .files .disks-files .disk:active,
.files .disks-files .file:hover,
.files .disks-files .file:active {
  background-color: #e2f2ff; }

.files .disks-files ul {
  overflow-x: auto;
  overflow-y: hidden;
  display: block; }
  .files .disks-files ul li {
    display: block; }

.files .disks-files .disk-info,
.files .disks-files .file-info {
  min-width: 400px;
  overflow: hidden;
  display: block; }
  .files .disks-files .disk-info span,
  .files .disks-files .file-info span {
    float: left;
    width: 25%;
    text-align: right; }
    .files .disks-files .disk-info span:first-child,
    .files .disks-files .file-info span:first-child {
      text-align: left; }

.files .disks-files .file-info {
  min-width: 768px; }
  .files .disks-files .file-info span:nth-child(1) {
    width: 50%; }
  .files .disks-files .file-info span:nth-child(2) {
    width: 20%; }
  .files .disks-files .file-info span:nth-child(3) {
    width: 15%; }
  .files .disks-files .file-info span:nth-child(4) {
    width: 15%; }

.files .disks-files .disk-menu span:hover, .files .disks-files .disk-menu span:active,
.files .disks-files .file-menu span:hover,
.files .disks-files .file-menu span:active {
  background-color: #e2f2ff; }

.files .action-bar {
  margin: 10px 0;
  overflow: hidden;
  display: block; }
  .files .action-bar button {
    border-radius: 0;
    padding: 6px 15px; }
