body{
  font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  -webkit-user-select: none;
  cursor: default;
  min-width: 450px;
  background-color: #FFF;
}
p,
span,
label {
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style: none;
  padding-left: 0;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  outline: 0;
  text-decoration: none;
}

$hover: #e8e8e8;

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(../../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
  url(../../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
  url(../../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
}

.system,
.files {
  padding: 20px;
  color: #000;
  overflow: hidden;
  header {
    font-size: 22px;
    padding: 5px 0;
    font-weight: 800;
  }
  section {
    font-size: 14px;
    margin: 5px 0;
    line-height: 1.8;
    overflow: hidden;
  }
}
.system {
  width: 300px;
  float: left;
  p {
    margin: 0 0 5px;
  }
  .cpu {
    text-align: center;
    display: block;
    width: 50%;
    float: left;
    margin: 10px 0;
  }
  .bar {
    overflow: hidden;
    margin: 10px 0 0 0;
    display: block;
    .progress {
      margin: 0;
      height: 20px;
      background-color: #f1f1f1;
    }
    span {
      line-height: 1.45;
      margin: 0;
      padding: 0;
      width: 70px;
    }
  }
}
.files {
  .disks-files{
    table,
    thead,
    tbody {
      overflow: hidden;
      display: block;
      width: 100%;
    }
    tbody {
      tr {
        &:hover,
        &:active {
          background-color: $hover;
        }
      }
    }
    thead {
      th {
        &:hover,
        &:active {
          background-color: $hover;
        }
      }
    }
    tr {
      min-width: 400px;
      overflow: hidden;
      display: flex;
      td,
      th{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        float: left;
        padding-left: 10px;
        text-align: right;
        &:first-child {
          padding-left: 0;
          text-align: left;
        }
        &:nth-child(1) {
          width: 40%;
        }
        &:nth-child(2) {
          width: 20%;
        }
        &:nth-child(3) {
          width: 25%;
        }
        &:nth-child(4) {
          min-width: 80px;
          width: 15%;
        }
      }
    }
    .file-info {
      min-width: 768px;
      span {
        &:nth-child(1){
          width: 40%;
        }
        &:nth-child(2){
          width: 20%;
        }
        &:nth-child(3){
          width: 25%;
        }
        &:nth-child(4){
          width: 15%;
        }
      }
    }
    .disk-menu,
    .file-menu {
      span {
        &:hover,
        &:active {
          background-color: $hover;
        }
      }
    }
  }
  .action {
    overflow: hidden;
    display: block;
    float: left;
    button {
      border-radius: 0;
      padding: 6px 15px;
      float: left;
    }
  }
  .breadcrumb {
    background-color: #FFF;
    margin-bottom: 0;
    float: left;
    line-height: 4;
    padding: 0 0 0 25px;
  }
}
