body{
  font-family: Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,WenQuanYi Micro Hei,Microsoft Yahei,sans-serif;
  -webkit-user-select: none;
  cursor: default;
  min-width: 450px;
}
p,
span,
label {
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style: none;
  padding-left: 0;
}
::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
}
$hover: #e2f2ff;

.system,
.files {
  float: left;
  padding: 20px;
  border: 1px solid #eee;
  color: #000;
  overflow: hidden;
  header {
    font-size: 22px;
    padding: 5px 0;
    font-weight: 800;
  }
  section {
    font-size: 14px;
    margin: 5px 0;
    line-height: 1.8;
    overflow: hidden;
  }
}
.system {
  .cpu {
    text-align: center;
    display: block;
    width: 50%;
    float: left;
    margin: 10px 0;
    img {
      width: 90px;
      height: 90px;
      margin-bottom: 10px;
      .cpu-message {
        font-size: 12px;
      }
    }
  }
  .bar {
    overflow: hidden;
    margin: 10px 0 0 0;
    display: block;
    .progress {
      margin: 0;
    }
    span {
      line-height: 1.45;
      margin: 0;
      padding: 0;
      width: 70px;
    }
  }
}
.files {
  .disks-files{
    img {
      height: 15px;
      margin: 5px 10px 5px 0;
      float: left;
    }
    .disk,
    .file {
      &:hover,
      &:active {
        background-color: $hover;
      }
    }
    ul {
      overflow-x: auto;
      overflow-y: hidden;
      display: block;
      li {
        display: block;
      }
    }
    .disk-info,
    .file-info {
      min-width: 400px;
      overflow: hidden;
      display: block;
      span {
        float: left;
        width: 25%;
        text-align: right;
        &:first-child{
          text-align: left;
        }
      }
    }
    .file-info {
      min-width: 768px;
      span {
        &:nth-child(1){
          width: 50%;
        }
        &:nth-child(2){
          width: 20%;
        }
        &:nth-child(3){
          width: 15%;
        }
        &:nth-child(4){
          width: 15%;
        }
      }
    }
    .disk-menu,
    .file-menu {
      span {
        &:hover,
        &:active {
          background-color: $hover;
        }
      }
    }
  }
  .action-bar {
    margin: 10px 0;
    overflow: hidden;
    display: block;
    button {
      border-radius: 0;
      padding: 6px 15px;
    }
  }
}
