<article class="disks">
    <header>· 磁盘信息</header>
    <section class="file-center">
        <ul class="disk-list">
            <li>
                <div class="disk-info disk-menu">
                    <span>Name</span>
                    <span>FileSystem</span>
                    <span>FreeSpace</span>
                    <span>Size</span>
                </div>
            </li>
            <li ng-repeat="x in disks" class="disk">
                <img src="./static/images/disk.png">
                <div class="disk-info">
                    <span>{{x.Name}}</span>
                    <span>{{x.FileSystem}}</span>
                    <span>{{x.FreeSpace / 1024 / 1024 / 1024 | number: 0}} GB</span>
                    <span>{{x.Size / 1024 / 1024 / 1024 | number: 0}} GB</span>
                </div>
            </li>
        </ul>
    </section>
</article>