<article class="disks-files">
    <header>文件管理器</header>
    <section class="file-center">
        <div class="action-bar">
            <button class="btn btn-primary" ng-click="home()">
                <span class="glyphicon glyphicon-home"></span>
            </button>
            <button class="btn btn-primary" ng-click="Hbackward()">
                <span class="glyphicon glyphicon-menu-left"></span>
            </button>
            <buton class="btn btn-primary" ng-click="Hforward()">
                <span class="glyphicon glyphicon-menu-right"></span>
            </buton>
        </div>
        <ul class="disk-list" ng-if="_index">
            <li>
                <div class="disk-info disk-menu">
                    <span>Name</span>
                    <span>FileSystem</span>
                    <span>FreeSpace</span>
                    <span>Size</span>
                </div>
            </li>
            <li ng-repeat="x in disks" class="disk" ng-dblclick="forward(x.Name)">
                <div class="disk-info">
                    <span>{{x.Name}}</span>
                    <span>{{x.FileSystem}}</span>
                    <span>{{x.FreeSpace / 1024 / 1024 / 1024 | number: 0}} GB</span>
                    <span>{{x.Size / 1024 / 1024 / 1024 | number: 0}} GB</span>
                </div>
            </li>
        </ul>
        <ul class="file-list" ng-if="!_index">
            <li>
                <div class="file-info file-menu">
                    <span ng-click="col='Name';desc=!desc">Name</span>
                    <span ng-click="col='Mtime';desc=!desc">Mtime</span>
                    <span ng-click="col='Type';desc=!desc">Type</span>
                    <span ng-click="col='Size';desc=!desc">Size</span>
                </div>
            </li>
            <li ng-repeat="x in files | orderBy:col:desc" class="file" ng-dblclick="forward_folder(x.name)" ng-if="!_index">
                <div class="file-info">
                    <span>{{x.name}}</span>
                    <span>{{x.mtime | date:'yyyy-MM-dd HH:mm:ss'}}</span>    <!--修改时间 修改文件内容-->
                    <span ng-if="x.isDirectory()">文件夹</span>
                    <span ng-if="x.isFile()">文件</span>
                    <span ng-if="x.size < 1024 && x.size > 0">{{x.size | number: 2}} B</span>
                    <span ng-if="x.size >= 1024 && x.size < 1024*1024">{{x.size / 1024 | number: 2}} KB</span>
                    <span ng-if="x.size >= 1024*1024">{{x.size / 1024 / 1024 | number: 2}} MB</span>
                </div>
            </li>
        </ul>
    </section>
</article>