<div class="status">
    <button class="btn btn-danger arrow-left" ng-init="remove = true" ng-click="remove=!remove">
        <i class="material-icons" ng-show="remove">keyboard_arrow_left</i>
        <i class="material-icons" ng-show="!remove">keyboard_arrow_right</i>
    </button>
</div>
<div ng-if="remove" class="animate-if">
    <article class="basic">
        <header><i class="material-icons">computer</i>系统</header>
        <section>
            <p class="caption">操作系统: {{os.Caption}}</p>
            <p class="release">版本号: {{system.release}}</p>
            <p>系统架构: {{os.OSArchitecture}}</p>
            <p class="hostname">用户名: {{os.RegisteredUser}}</p>
        </section>
    </article>
    <article class="cpus">
        <header><i class="material-icons">free_breakfast</i>CPU</header>
        <section>
            <p>CPU: {{cpu.Name}}</p>
            <p>核心数: {{cpu.NumberOfCores}}</p>
            <p>逻辑核心数: {{cpu.NumberOfLogicalProcessors}}</p>
            <p>频率: {{cpu.CurrentClockSpeed}} MHZ</p>
            <p>L2 缓存: {{cpu.L2CacheSize || 0}} KB</p>
            <p>L3 缓存: {{cpu.L3CacheSize || 0}} KB</p>
        </section>
    </article>
    <article class="memory">
        <header><i class="material-icons">memory</i>内存</header>
        <section>
            <p>已用内存: {{(system.totalmem - system.freemen)| size}}</p>
            <p>空闲内存: {{system.freemen | size}}</p>
            <p>总内存: {{system.totalmem | size}}</p>
        </section>
    </article>
    <article class="usedbar">
        <header><i class="material-icons">data_usage</i>使用情况</header>
        <section>
            <div class="bar menbar">
                <span class="col-xs-4">内存使用: </span>
                <uib-progressbar class="progress-striped active" max="system.totalmem" value="system.totalmem - system.freemen" type="info">
                    <i>{{(system.totalmem - system.freemen) / system.totalmem * 100 | number: 0}}</i>
                </uib-progressbar>
            </div>
            <div class="bar cpubar">
                <span class="col-xs-4">CPU使用: </span>
                <uib-progressbar class="progress-striped active" max="100" value="cpu.LoadPercentage" type="success">
                    <i>{{cpu.LoadPercentage}}</i>
                </uib-progressbar>
            </div>
        </section>
    </article>
</div>