<div class="status">
    <button class="btn btn-danger arrow-left" ng-init="remove = true" ng-click="remove=!remove">
        <i class="material-icons" ng-show="remove">keyboard_arrow_left</i>
        <i class="material-icons" ng-show="!remove">keyboard_arrow_right</i>
    </button>
</div>
<div ng-if="remove" class="animate-if">
    <article class="basic">
        <header><i class="material-icons">computer</i>SYSTEM</header>
        <section>
            <p class="type">Type: {{system.type}}</p>
            <p class="hostname">Hostname: {{system.hostname}}</p>
            <p class="release">Release: {{system.release}}</p>
            <p class="platform">Platform: {{system.platform}}</p>
            <p class="endianness">Endianness: {{system.endianness}}</p>
            <p class="uptime">Uptime: {{system.uptime | number: 0}} S</p>
            <p class="bios-manufacturer">BiosManufacturer: {{bios.Manufacturer}}</p>
            <p class="Product">Product: {{baseboard.Product}}</p>
        </section>
    </article>
    <article class="cpus">
        <header><i class="material-icons">free_breakfast</i>CPU</header>
        <section>
            <p>Name: {{cpu.Name}}</p>
            <p>AddressWidth: {{cpu.AddressWidth}}</p>
            <p>DataWidth: {{cpu.DataWidth}}</p>
            <p>NumberOfCores: {{cpu.NumberOfCores}}</p>
            <p>NumberOfLogicalProcessors: {{cpu.NumberOfLogicalProcessors}}</p>
            <p>CurrentClockSpeed: {{cpu.CurrentClockSpeed}} MHZ</p>
            <p>L2CacheSize: {{cpu.L2CacheSize}} KB</p>
            <p>L3CacheSize: {{cpu.L3CacheSize}} KB</p>
        </section>
    </article>
    <article class="memory">
        <header><i class="material-icons">memory</i>MEMORY</header>
        <section>
            <p>UsedMemory: {{(system.totalmem - system.freemen) / 1024 | number: 0}} KB</p>
            <p>FreeMemory: {{system.freemen / 1024 | number: 0}} KB</p>
            <p>TotalMemory: {{system.totalmem / 1024 | number: 0}} KB</p>
        </section>
    </article>
    <article class="usedbar">
        <header><i class="material-icons">data_usage</i>使用情况</header>
        <section>
            <div class="bar menbar">
                <span class="col-xs-4">内存使用: </span>
                <uib-progressbar class="progress-striped active" max="system.totalmem" value="system.totalmem - system.freemen" type="info">
                    <i>{{(system.totalmem - system.freemen) / system.totalmem * 100 | number: 0}}</i>
                </uib-progressbar>
            </div>
            <div class="bar cpubar">
                <span class="col-xs-4">CPU使用: </span>
                <uib-progressbar class="progress-striped active" max="100" value="cpuload" type="success">
                    <i>{{cpu.LoadPercentage}}</i>
                </uib-progressbar>
            </div>
        </section>
    </article>
</div>